<input class="submit-button" type="button" onclick="location.href='/'" value="Registrar Otro Producto">

<div class="producto-container">
    {{#each productos}}
    <div class="producto-card">
        <p>Producto:{{this.title}}</p>
        <p>Codigo:{{this.Codigo}}</p>
        <p>Precio:{{this.price}}</p>
        <p>Stock:{{this.stock}}</p>
        <p>Status:{{this.status}}</p>
        <img src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>